<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .headOf {
            /* text-align: center; */
            padding-left: 10%;
        }
    </style>
</head>

<body>
    <div class="headOf">
        <h3>Today Waste Collection: 20Ton</h3>
        <h3>Total Waste Collection: 10000Ton</h3>
        <h3>TransPortation Activities: </h3>
    </div>
    <table>
        <tr>
            <th>Vehicle Type</th>
            <th>STS ID</th>
            <th>Waste</th>
            <th>Time Field</th>
        </tr>
        <tr>
            <td>Car</td>
            <td>123</td>
            <td>Plastic</td>
            <td>10:00 AM</td>
        </tr>
        <tr>
            <td>Truck</td>
            <td>456</td>
            <td>Metal</td>
            <td>11:30 AM</td>
        </tr>
        <tr>
            <td>Bicycle</td>
            <td>789</td>
            <td>Paper</td>
            <td>1:00 PM</td>
        </tr>
    </table>

</body>

</html>