<% layout("/layouts/boilerplate.ejs") %>

    <body>

        <div class="container">
            <div class="profile-container text-center">
                <h2>User Profile</h2>
                <div class="image">
                    <img class="rounded-circle" style="height: 100px; width: 100px"
                        src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=626&ext=jpg"
                        alt="User Profile">
                </div>
                <div class="profile-info">
                    <p><strong>Name:</strong>
                        <%= user.name %>
                    </p>
                </div>
                <div class="profile-info">
                    <p><strong>Email:</strong>
                        <%= user.email %>
                    </p>
                </div>
                <div class="profile-info">
                    <p><strong>Role:</strong>
                        <%= user.role %>
                    </p>
                </div>
                <form action="/auth/change-password" method="get">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
            <div style="margin-bottom: 165px;"></div>
        </div>

    </body>

    </html>